//COLORS
$primaryColor: #2d95e3;
$secondaryColor: #faca45;
$white: #fff;
$black: #000;
$successColor: #28a745;
$errorColor: #dc3545;
$lightGrey: #f3f3f3;
$hover-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

//FONT FAMITLY
$primaryFont: "Montserrat";
// $secondary-font:

//RESPONSIVE-BREAKPOINTS
$bp-large: 37.5em; //600px

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 52%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

button {
  margin: 0rem;
  padding: 0rem;
  font-family: $primaryFont;
  cursor: pointer;
  outline: none;
}

.container {
  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr) [center-start]repeat(12, [col-start] minmax(min-content, 11rem) [col-end])
    [center-end] minmax(6rem, 1fr);

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1rem [center-start] 1fr [center-end] 1rem;
  }
}

.primary-btn {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: $primaryFont;
  background-color: $primaryColor;
  color: $white;
  font-weight: 500;
  border: 0.1rem solid $primaryColor;
  outline: none;
  border-radius: none;
  cursor: pointer;
}

.secondary-btn {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: $primaryFont;
  background-color: $white;
  color: $primaryColor;
  font-weight: 500;
  border: 0.1rem solid $primaryColor;
  outline: none;
  cursor: pointer;
}

.success-btn {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: $primaryFont;
  background-color: $successColor;
  color: $white;
  font-weight: 500;
  border: 0.1rem solid $successColor;
  height: unset;
  outline: none;
  cursor: pointer;
}
